

    <!-- <nav class="navbar navbar-default navbar-static-bottom footer"> -->
      <nav id="foot-nav">
      <div id="mobile-footer">
        <div class="col-lg-12"> 
            <div id="mobile-menu">
                <div class="scroll-menu" id="scroll-menu">
                    <a href="https://fb.me/simplelottoofficial"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                    <a href="https://twitter.com/SimpleLotto?s=09"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                    <a href="https://www.instagram.com/simplelotto/"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                    <a href="tel:+2349052531985"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></a>
                    <a href="https://wa.me/2347037089709" target="_blank"><span class="fa fa-whatsapp" aria-hidden="true"></span></a>
                    <a href="mailto:support@simplelotto.ng"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                </div>
            </div>
            <ul class="nav navbar-nav" id="footer_wrapper">
                    <li style="background-color: black; color: #ffffff; padding: 2% 2%; border-radius: 5px; border: 1px solid #ffffff; margin: 3% 3%;"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Privacy Policy</li>
                    <li style="background-color: black; color: #ffffff; padding: 2% 2%; border-radius: 5px; border: 1px solid #ffffff; margin: 3% 3%;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Terms &amp; Conditions</li>
                    <li style="background-color: black; color: #ffffff; padding: 2% 2%; border-radius: 5px; border: 1px solid #ffffff; margin: 3% 3%;"><span id="adult-only"><img src="../../assets/images/images.jpg" style="height: 20px"></span> Responsible Gaming</li>

                <!-- <li class="dropdown" id="footer_dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> SimpleLotto<span class="caret"></span></a>
                      <ul id="footer_dropdown_list" class="dropdown-menu">
                          <li style="background-color: #002433; color: #FEBF00; margin: 3% 3%;"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> About us</li>
                          <li style="background-color: #002433; color: #FEBF00; margin: 3% 3%;"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Blog</li>
                      </ul>
                  </li>
                  <li class="dropdown" id="footer_dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Support<span class="caret"></span></a>
                        <ul id="footer_dropdown_list" class="dropdown-menu">
                            <li style="background-color: #002433; color: #FEBF00; margin: 3% 3%;"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> How to Play</li>
                            <li style="background-color: #002433; color: #FEBF00; margin: 3% 3%;"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> How it works</li>
                        </ul>
                    </li>
                    <li class="dropdown" id="footer_dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Legal<span class="caret"></span></a>
                          <ul id="footer_dropdown_list" class="dropdown-menu">
                              <li style="background-color: #002433; color: #FEBF00; margin: 3% 3%;"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Terms &amp; conditions</li>
                              <li style="background-color: #002433; color: #FEBF00; margin: 3% 3%;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Privacy policy</li>
                          </ul>
                      </li>
                      <li class="dropdown" id="footer_dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Contact us<span class="caret"></span></a>
                            <ul id="footer_dropdown_list" class="dropdown-menu">
                                <li style="background-color: #002433; color: #FEBF00; margin: 3% 3%;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> hello@simplelotto.ng</li>
                                <li style="background-color: #002433; color: #FEBF00; margin: 3% 3%;"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 080-2222-2222</li>
                            </ul>
                        </li> -->
                        <!-- <div id="adult-only"><img src="../../assets/images/images.jpg" style="height: 50px"></div> -->
              </ul>
              <small style="text-align:center; color: #ffffff;">&copy; {{thisYear}} SimpleLotto. All Rights Reserved.<br> Designed by <a href="tel:08023900964">Billz Tech</a></small>  
            </div>
          </div>
        </nav>
        <!--
          <div class="col span-1-of-3">
              Span one
          </div>
          <div class="col span-1-of-3">
              Span two
          </div>
          <div class="col span-1-of-3">
              Span three
          </div>
      -->
      <nav id="desktop-footnav">
          <div class="row" id="desktop-footer">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li style="color: #ffffff; margin: 4% 4%;"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Terms &amp; conditions</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li style="color: #ffffff; margin: 4% 4%;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Privacy Policy</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li style="color: #ffffff; margin: 4% 4%;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> support@simplelotto.ng</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li style="color: #ffffff; margin: 4% 4%;"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +234 905 253 1985</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li style="color: #ffffff; margin: 4% 4%;"><span><img src="../../assets/images/images.jpg" style="height: 20px; border: 1px solid #fff;"></span> Responsible Gaming</li>
                    </ul>
                </div>
          <div class="col-lg-12">
              <hr>
              <div class="col-md-2">
                  <a href="https://fb.me/simplelottoofficial" style="color: #ffffff"><span class="fa fa-facebook" aria-hidden="true"></span></a>
              </div>
              <div class="col-md-2">
                  <a href="https://twitter.com/SimpleLotto?s=09" style="color: #ffffff"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                  </div>
                  <div class="col-md-2">
                  <a href="https://www.instagram.com/simplelotto/" style="color: #ffffff"><span class="fa fa-instagram" aria-hidden="true"></span></a>
                  </div>
                  <div class="col-md-2">
                  <a href="tel:+2349052531985" style="color: #ffffff"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></a>
                  </div>
                  <div class="col-md-2">
                  <a href="https://wa.me/2347037089709" style="color: #ffffff"><span class="fa fa-whatsapp" aria-hidden="true"></span></a>
                  </div>
                  <div class="col-md-2">
                  <a href="mailto:support@simplelotto.ng" style="color: #ffffff"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                  </div>
              <!-- </div> -->
            <!-- <div class="col-md-4">
              <ul class="nav nav-pills nav-stacked">
                <li style="color: #002300; margin: 4% 4%;"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> About us</li>
                <li style="color: #002300; margin: 4% 4%;"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Blog</li>
              </ul>
            </div> -->
            <!-- <div class="col-md-3">
                 <ul class="nav nav-pills nav-stacked">
                   
                    <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon> WhatsApp</a></li>
                    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon> Facebook</a></li>
                    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon> Instagram</a></li>
                    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon> Twitter</a></li>
                
                  </ul>
                </div> -->
                <!-- <div class="col-md-4">
                      <ul class="nav nav-pills nav-stacked">
                        <a href="mailto:care@simplelotto.ng" target="_top"><li style="color: #002300; margin: 4% 4%;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> care@simplelotto.ng</li></a>
                        <a href="tel:08022222222"><li style="color: #002300; margin: 4% 4%;"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 080-2222-2222</li></a> -->
                        <!-- <li style="color: #002433; margin: 4% 4%;"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +234 - 7838-82482</li> -->
                      <!-- </ul>
                    </div> -->
<hr>
                        <small style="color: #ffffff;text-align:center;">&copy; {{thisYear}} SimpleLotto. All Rights Reserved. Designed by Billz Tech</small>
                </div>
            </div>
          </nav>
