<div class="container" style="margin-top: 10%; margin-bottom: 10%;">
  <div class="row">
    <section class="section-features" >
      <div class="mobile-no" >
          <div class="body-row" style="margin-top: 40%;">
            <br>
            <div class="mini-header2" style="margin: 2%; width: 96%;">
              <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;MONTHLY JACKPOT</p>
            </div>
            <ul id="htp_dropdown_list" >
              <p>
                On the last day of every month, there is a Monthly Jackpot of <b>&#8358; 100,000</b>. This Monthly Jackpot is opened to everyone who played <b>at least once in that month</b>. All ticket numbers generated in that month are drawn and <b>1 (one)</b> ticket number is selected at random by our bespoke lottery machine.
            </p>
            </ul>
          </div>
      </div>
    </section>
  </div>
</div>