<div class="container" style="margin-bottom: 10%;">
    <div class="row">
    <section class="section-features">
      <div class="mobile-no">
          <div class="body-row" style="margin-top: 40%;">
            <br>
            <div class="mini-header2" style="margin: 2%; width: 96%;">
              <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;ABOUT US</p>
            </div>
            <ul id="htp_dropdown_list">
            <p>Simple Lotto is a lottery platform that gives you a great chance to win BIG without stress. No permutation, no forecasting, no mathematics! Just enter your phone number to generate a lucky ticket number for each draw!</p>
            </ul>
          </div>
      </div>
    </section>
  </div>
</div>