doctype html
html
    head
        link(rel="stylesheet", href="../style.css", data-inline)

        body
            div
                p Hi #{name},
                p Welcome to Mars, the red planet.

                p Welcome #{name} #{lastname}! We are excited to have you here!
                p Simple Lotto is a lottery platform that gives you a great chance to win BIG without stress. No permutation, no forecasting, no mathematics! Just enter your phone number to generate a lucky ticket number for any draw.
                p All ticket numbers entered for a particular draw are collated and shuffled by our bespoke lottery machine and your ticket number(s) could be amongst the winning ticket numbers! If you play multiple times, you can win multiple times in a draw!
                p Sounds interesting? Make your first deposit now and get 100% Welcome Bonus!!! You also get 20% Bonus on every deposit of #1,000 and above. Amazing, right? Click the button below to start winning!!!

style(type="text/css").
    html, body {
        background-color: #002433;
        color: #FEBF00;
        border: 2px solid #FEBF00;
    }
    p {
        padding: 2%;
        color: #FEBF00;
    }