<div class="container" style="margin-bottom: 10%;">
    <div class="row">
    <section class="section-features">
      <div class="mobile-no">
          <div class="body-row" style="margin-top: 40%;">
            <br>
            <div class="mini-header2" style="margin: 2%; width: 96%;">
              <p><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;BONUSES</p>
            </div>
            <ul id="htp_dropdown_list">
              <p>You get <b>100% Welcome Bonus</b> on your first deposit and <b>20% Bonus</b> on subsequent deposits of <b>&#8358; 1,000</b> and above. Anytime you get a bonus on your deposit, both the main amount deposited and the bonus added would be merged together in your bonus account.</p>
              <p>
                  Funds/stakes will be deducted from your bonus account first, before your main account <b>except</b> when there are no funds in the bonus account. Every time you win, your main account will be credited with your winnings instantly.
              </p>
            </ul>
          </div>
      </div>
    </section>
  </div>
</div>