<div class="container" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="row">
    <section class="section-features">
      <div class="mobile-no">
          <div class="body-row" style="margin-top: 40%;">
            <br>
            <div class="mini-header2" style="margin: 2%; width: 96%;">
              <p><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;HOW TO PLAY</p>
            </div>
            <ul id="htp_dropdown_list">
              <p>To participate in a draw, enter your mobile number under the draw category and click on PLAY!</p>
              <p>The predetermined amount displayed will be deducted from your account and a <b>UNIQUE</b> ticket number will be generated for you.
                  This ticket number qualifies you for the stated draw.
              </p>
              <p>You're advised to play multiple times to increase your chance. Everytime you enter your mobile number, a <b>DIFFERENT</b> ticket number 
                  is generated and multiple ticket numbers increases your chances of winning !
              </p>
              <p>For every draw, our bespoke software shuffles all tickets numbers entered for the draw and picks the winning tickets.</p>
              <p>The winners' account are automatically credited after each draw and instant withdrawals can be made by winner. Simple, isn't it?</p>
              <a href="#" class="android-btn-app"><img src="../../assets/images/android.png" style="height: 50px" alt="Play store button"> </a>
              <a href="#" class="ios-btn-app"><img src="../../assets/images/ios.svg" style="height: 50px" alt="App store button "> </a>
            </ul>
          </div>
      </div>
    </section>
  </div>
</div>
